<%= form_for(@controle) do |f| %>
  <% if @controle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@controle.errors.count, "error") %> prohibited this controle from being saved:</h2>

      <ul>
      <% @controle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :notemax %><br />
    <%= f.text_field :notemax %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :matiere_id %><br />
    <%= f.select :matiere_id, Matiere.find(:all , :order => "name").collect {|s| [(s.name), s.id]} %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
