<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Moyenne</th>    
      <th>Nb notes</th>    
      <th>Matiere</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @controles.each do |controle| %>
  <tr>
    <td><%= controle.name %></td>
    <td><%= controle.average %></td>
    <td><%= controle.nb_notes %></td>
    <td><%= controle.matiere %></td>
    <td><%= controle.date %></td>
    <td><%= link_to 'Show', controle %></td>
    <td><%= link_to 'Edit', edit_controle_path(controle) %></td>
    <td><%= link_to 'Destroy', controle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Controle', new_controle_path %>
