<h1>Listing controles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Notemax</th>
    <th>Moyenne</th>    
    <th>Nb notes</th>    
    <th>Description</th>
    <th>Matiere</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @controles.each do |controle| %>
  <tr>
    <td><%= controle.name %></td>
    <td><%= controle.notemax %></td>
    <td><%= controle.average %></td>
    <td><%= controle.nb_notes %></td>
    <td><%= controle.description %></td>
    <td><%= Matiere.find_by_id(controle.matiere_id).name %></td>
    <td><%= controle.date %></td>
    <td><%= link_to 'Show', controle %></td>
    <td><%= link_to 'Edit', edit_controle_path(controle) %></td>
    <td><%= link_to 'Destroy', controle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Controle', new_controle_path %>
