
<!-- <div class="hero-unit"> -->
<!--   <h2>Notes</h2> -->
<!--   <p>Liste de toutes les notes</p> -->
<!-- </div> -->


<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Note</th>
    <th>Student</th>
    <th>Matiere</th>
    <th></th>
    <th></th>
  </tr>
  </thead>


  <tbody>
<% @notes.each do |note| %>
    <tr>
    <td><%= note.note %></td>
    <td><%= note.student.full_name %></td>
    <td><%= note.matiere.name %></td>
    <td><%= link_to 'Show', note %></td>
    <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Note', new_note_path %>
