<p id="notice"><%= notice %></p>

<p>
  <b>Note:</b>
  <%= @note.note %>
</p>

<p>
  <b>Misc:</b>
  <%= @note.misc %>
</p>

<p>
  <b>Student:</b>
  <%= @note.student.full_name %>
</p>

<p>
  <b>Matiere:</b>
  <%= @note.matiere.name %>
</p>

<p>
  <b>Controle:</b>
  <%= @note.controle.name %>
</p>


<%= link_to 'Controle', controle_path(@note.controle_id) %> |
<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
