<p id="notice"><%= notice %></p>

<p>
  <b>Note:</b>
  <%= @note.note %>
</p>

<p>
  <b>Misc:</b>
  <%= @note.misc %>
</p>

<p>
  <b>Student:</b>
  <%= @note.student_id %>
</p>

<p>
  <b>Controle:</b>
  <%= @note.controle_id %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
