<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lastName %><br />
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :firstName %><br />
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label :birth %><br />
    <%= f.date_select :birth, :start_year => Time.now.year - 30, :end_year => Time.now.year  %>
  </div>
  <!-- <div class="field"> -->
  <!--   <%= f.label :addr %><br /> -->
  <!--   <%= f.text_area :addr %> -->
  <!-- </div> -->
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, Student.genders  %>
  </div>
  <div class="actions">
    <% if params[:classroom] %>
    <input name="classroom_id" type="hidden" value="<%= params[:classroom] %>" />
    <% end %>
    <%= f.submit %>
  </div>
<% end %>
