<p id="notice"><%= notice %></p>

<p>
  <b>Lastname:</b>
  <%= @student.lastName %>
</p>

<p>
  <b>Firstname:</b>
  <%= @student.firstName %>
</p>

<p>
  <b>Birth:</b>
  <%= @student.birth %>
</p>

<p>
  <b>Addr:</b>
  <%= @student.addr %>
</p>

<p>
  <b>Gender:</b>
  <%= @student.gender %>
</p>

<p>
  <b>Classes:</b>
  <% @student.classrooms.each do |classroom| %>
  <%= classroom.name %>
  <% end %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
