<h1>Listing matieres</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matieres.each do |matiere| %>
  <tr>
    <td><%= matiere.name %></td>
    <td><%= matiere.description %></td>
    <td><%= link_to 'Show', matiere %></td>
    <td><%= link_to 'Edit', edit_matiere_path(matiere) %></td>
    <td><%= link_to 'Destroy', matiere, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>      

  <% if matiere.controles.size > 0 %>
  <tr><td></td><td>
    <table>
      <tr>
        <th>Controle</th>
        <th>Moyenne</th>
      </tr>

      <% matiere.controles.each do |controle| %>
      <tr>
        <td><%= controle.name %></td>
        <td><%= controle.average %></td>
      </tr>
      <% end %>
    </table>
    </td></tr>
    <% end %>      


<% end %>
</table>

<br />

<%= link_to 'New Matiere', new_matiere_path %>
