<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @matiere.name %>
</p>

<p>
  <b>Description:</b>
  <%= @matiere.description %>
</p>

<p>
<%= link_to 'New controle', new_controle_path(:matiere => @matiere.id) %>
</p>

<%= link_to 'Edit', edit_matiere_path(@matiere) %> |
<%= link_to 'Back', matieres_path %>
