<!DOCTYPE html>
<html>
<head>
  <title>Instit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render_navigation(:expand_all => true) %>

<%= yield %>

</body>
</html>
